<ion-header>

  <ion-navbar color='secondaryGreen'>
    <ion-title>
      Location chooser
    </ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-fab bottom right>
    <button ion-fab (click)="addButtonClicked()" color="secondaryRuby">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-card *ngIf="shouldShowAdd">
    <ion-card-content class="add_card">
      <ion-list>
        <ion-item>
          <ion-input placeholder="Location name" type="text" [(ngModel)]="locationName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input placeholder="Floor" type="text" input type="number" [(ngModel)]="floor"></ion-input>
        </ion-item>

        <ion-item align-items-center>
          <button ion-button (click)="addConfirmationClicked()">
            ADD
          </button>
          <button ion-button (click)="addCancelClicked()">
            CANCEL
          </button>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item-sliding *ngFor="let location of locations" (click)="openWifiScanner(location, $event)">
      <ion-item>{{ location?.name }} {{ location?.floor }} </ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="delete(location, $event)" color="secondaryRuby">
          <ion-icon name="close"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>