<ion-content padding>

  <ion-card>
    <ion-card-header>
      Location info:
    </ion-card-header>

    <ion-card-content>
      <p>lat: {{lat | number: '1.2-6'}}</p>
      <p>long: {{lng | number: '1.2-6'}}</p>
      <p *ngIf="status">status: {{status}}</p>
      <p *ngIf="log">log: {{log}}</p>
      <p *ngIf="time">time: {{currentTime}}</p>

    </ion-card-content>
  </ion-card>

  <div class="refreshButton">
    <button ion-button [color]="isGeolocationEnabled ? 'disabled' : 'secondaryGreen'" [disabled]="isGeolocationEnabled" outline="false" (click)="enableBackgroundGeolocation()">START</button>

    <button ion-button [color]="isGeolocationEnabled ? 'secondaryGreen' : 'disabled'" [disabled]="!isGeolocationEnabled" outline="false" (click)="disableBackgroundGeolocation()">STOP</button>
  </div>

  <ion-list>
    <ion-list-header class="range-title">
      update interval
      <ion-badge item-right color="darkIndingo">{{timePeriod}}</ion-badge>
    </ion-list-header>
    <ion-item class="rangeSlider">
      <ion-range min="1" max="10" snaps=true step="1" color="darkIndingo" [(ngModel)]="timePeriod">
        <ion-label range-left>1</ion-label>
        <ion-label range-right>10</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>
