<ion-content padding>

  <ion-card>
    <ion-card-header>
      Location info:
    </ion-card-header>
    
    <ion-card-content>
      <p>lat: {{lat | number: '1.2-6'}}</p>
      <p>long: {{lng | number: '1.2-6'}}</p>
      <p *ngIf="acc">accuracy: {{acc | number: '1.2-3'}} m</p>
      <p *ngIf="status">status: {{status}}</p>
      <p *ngIf="log">log: {{log}}</p>
      <p *ngIf="time">time: {{currentTime}}</p>

    </ion-card-content>
  </ion-card>

  <div class="refreshButton">
    <button ion-button default="true" outline="true" color="secondaryRuby" (click)="showCords()"><ion-icon name="locate" ></ion-icon></button>
  </div>
  <div class="refreshButton">
    <button ion-button default="true" outline="true" color="secondaryRuby" (click)="enableBackgroundGeolocation()">START</button>
    <button ion-button default="true" outline="true" color="secondaryRuby" (click)="disableBackgroundGeolocation()">STOP</button>
  </div>
    <div class="refreshButton">
    <button ion-button default="true" outline="true" color="secondaryRuby" (click)="sendHttpPost()">HTTP POST</button>
  </div>

  <ion-list>
    <ion-list-header class="range-title">
      update interval
      <ion-badge item-right color="darkIndingo">{{timePeriod}}</ion-badge>
    </ion-list-header>
    <ion-item class="rangeSlider">
      <ion-range min="1" max="10" snaps=true step="1" color="darkIndingo" [(ngModel)]="timePeriod">
      <!--<ion-range min="12" max="60" snaps=true step="12" color="primaryIndigo" [(ngModel)]="timePeriod">-->

        <ion-label range-left>1</ion-label>
        <ion-label range-right>10</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>

<ion-item>
  <button ion-button (click)="refresh()">REFRESH</button>
</ion-item>

<ion-item>
  <button ion-button (click)="wifiLocation()">BUILDING CHECK</button>
</ion-item>

<!-- <ion-list>
  <ion-item *ngFor="let network of scannedNetworks">
    {{ network.level }} | {{ network.BSSID }}
  </ion-item>
</ion-list> -->