button{
    width: 120px;
}

.refreshButton{
    text-align: center;
}

ion-list-header.list-header {
    margin-bottom: 10px;
    }

.rangeSlider{
    margin-top: 0px;
}

.list{
    margin-top: 20px;
}