button{
    width: 120px;
}

.refreshButton{
    text-align: center;
}

ion-list-header.list-header {
    margin-bottom: 10px;
    }

.rangeSlider{
    margin-top: 0px;
}

.list{
    margin-top: 20px;
}

.card-header{
    color: #222;
}

.card-content p{
    color: #222;
}

.range-title{
    color: #222;
}
